.side-menu {
  position: relative;
  float: left;
  height: 90vh;
  width: 10vh;
  background-color: red;

  &__transition {
    &-enter {
      opacity: 0.01;
    }

    &-enter, &-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    &-leave {
      opacity: 1;
    }
    &-leave, &-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}
