.widget-container {
  position: relative;
  perspective: 1000px;
  float: left;
  padding: 10px;
  margin-right: 50px;
  width: 80%;

  &__transition {
    &-enter {
      opacity: 0.01;
    }

    &-enter, &-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    &-leave {
      opacity: 1;
    }
    &-leave, &-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}
